<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje aranžmana</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Ažuriranje aranžmana: {{data.id}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje aranžmana: {{data.id}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
       <div class="form">
        <mat-form-field class="form-field">
            <input matInput placeholder="UkupnaCena" name="UkupnaCena" [disabled]="flag==3" [(ngModel)]="data.ukupnaCena" required />
        </mat-form-field>
       </div>

       <div class="form">
           <mat-checkbox class="form-field" placeholder="Placeno" name="Placeno" [disabled]="flag==3" [(ngModel)]="data.placeno">
            Plaćeno
           </mat-checkbox>
       </div>

       <div class="form">
        <mat-form-field class="form-field">
            <input matInput [matDatepicker]="datumRealizacije" placeholder="DatumRealizacije" name="DatumRealizacije" [disabled]="flag==3" [(ngModel)]="data.datumRealizacije" required />
            <mat-datepicker-toggle matSuffix [for]="datumRealizacije"></mat-datepicker-toggle>
            <mat-datepicker #datumRealizacije></mat-datepicker>
        </mat-form-field>
       </div>

       <div class="form">
        <mat-select class="form-field" [compareWith]="compare" placeholder="Hotel" name="Hotel" [disabled]="flag==3" [(ngModel)]="data.hotel" required>
            <mat-option *ngFor="let hotel of hoteli" [value]="hotel">
                {{hotel.naziv}}
            </mat-option>
        </mat-select>
       </div>
    
    </form>

    <div class="mat-dialog-actions form-field">
        <button mat-raised-button color="accent" *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="add()">Sačuvaj</button>
        <button mat-raised-button color="accent" *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="update()">Modifikuj</button>
        <button mat-raised-button color="accent" *ngIf="flag == 3" mat-dialog-close="1" (click)="delete()">Obriši</button>
        <button mat-raised-button color="warn" (click)="cancel()">Poništi</button>
    </div>
</div>
